body {
    background-image: url('Mapa.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
}
h1 {
    text-align: center;
}
h3 {
    text-decoration: solid;
}